@page "/training-plans/add"
@rendermode InteractiveServer

@using RowFlex.Data
@using RowFlex.Models
@inject TrainingPlanService trainingPlanService
@inject TrainingService trainingService
@inject NavigationManager NavigationManager

<PageTitle>Add New Training</PageTitle>

<h3>Add New Training</h3>

<EditForm Model="newTrainingModel" OnValidSubmit="HandleNewTrainingSubmit" FormName="addTrainingForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="newTrainingTitle">Training Title:</label>
        <InputText id="newTrainingTitle" class="form-control" @bind-Value="newTrainingModel.Title" />
    </div>

    <div class="form-group">
        <label for="newTrainingDescription">Training Description:</label>
        <InputTextArea id="newTrainingDescription" class="form-control" @bind-Value="newTrainingModel.Description" />
    </div>

    <div class="form-group">
        <label for="newTrainingType">Training Type:</label>
        <InputSelect id="newTrainingType" class="form-control" @bind-Value="newTrainingModel.TrainingType">
            @foreach (var type in Enum.GetValues<ETreningType>())
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="trainingDate">Training Date:</label>
        <InputDate @bind-Value="trainingDate" class="form-control" id="trainingDate" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save and Create Training Plan</button>
</EditForm>

@code {
    private Training newTrainingModel = new Training { Saved = true };
    private DateTime? trainingDate; // Dodanie zmiennej do przechowywania daty

    private async Task HandleNewTrainingSubmit()
    {
        await trainingService.AddTrainingAsync(newTrainingModel);
        var newTrainingPlan = new TrainingPlan
            {
                TrainingId = newTrainingModel.Id,
                TrainingDate = trainingDate ?? DateTime.Now // Jeśli data nie została wybrana, użyj bieżącej
            };
        await trainingPlanService.AddTrainingPlanAsync(newTrainingPlan);
        NavigationManager.NavigateTo("/training-plans");
    }
}
