@page "/not-authorized"
@using Microsoft.AspNetCore.Authorization
@using RowFlex.Models
@using RowFlex.Data

@inject UserQuery userQuery
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims
@attribute [Authorize]

<AuthorizeView>
    <h3> Hello @context.User.Identity?.Name! </h3>
</AuthorizeView>

<AuthorizeView Roles="Coach">
    Hej trenerze!
</AuthorizeView>

<AuthorizeView Roles="Athlete">
    @if (user.AuthorizedByClub == false)

    {
        <h4>Przykro nam! Nie jestes zautentykowany przez klub</h4>
    }
    else
    {
        <h1>gratki</h1>
    }
</AuthorizeView>

@code {
    string userId;
    User user;
    protected override async Task OnInitializedAsync()
    {
        userId = HttpContextAccessor.HttpContext?.User?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        user = userQuery.GetUserById(userId);
    }
}